<div class="container mt-20 mx-auto p-6">
    <h1 class="text-2xl font-bold text-center mb-6">Panel de Administración</h1>
  
    <!-- Sección para agregar productos -->
    <section class="mb-8 p-4 border rounded-lg shadow-lg">
      
        <h2 class="text-xl font-semibold mb-4">{{title()}}</h2>
      
      
      <form [formGroup]="addProductForm()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Nombre del producto -->
            <input formControlName="name" type="text"  placeholder="Nombre del producto" class="border p-2 rounded">
            <!-- Descripción del producto -->
            <input formControlName="description" type="text" placeholder="Descripción del producto" class="border p-2 rounded">
            <!-- Precio -->
            <input formControlName="price" type="number" placeholder="Precio" class="border p-2 rounded">
            <!-- Categoría (select) -->
            <select formControlName="category" class="border p-2 rounded">
                <option value="" disabled selected>Selecciona una categoría</option>
                <option value="café">Café</option>
                <option value="cereales">Cereales</option>
                <option value="lácteos">Lácteos</option>
                <option value="endulzantes">Endulzantes</option>
            </select>
            <!-- Stock -->
            <input formControlName="stock" type="number" placeholder="Stock" class="border p-2 rounded">
            <!-- Link de la imagen -->
            <input formControlName="image" type="text" placeholder="Link imagen" class="border p-2 rounded">
        </div>
        <!-- Botón para agregar producto -->
         @if (!isEditable()) {
          <button type="button" (click)="registerProduct()" class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
            Agregar Producto
        </button>
         }@else {
          <button type="button" (click)="editProduct()" class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
           Editar Producto
        </button>
         }
        
        <h3 class="text-center text-red-600">{{formMessage()}}</h3>
    </form>
    </section>
  
    <!-- Sección de Inventario -->
    <section class="mb-8 p-4 border rounded-lg shadow-lg">
      <h2 id="editProducts" class="text-xl font-semibold mb-4">Inventario de Productos</h2>
      <table class="w-full border-collapse border">
        <thead>
          <tr class="bg-gray-200">
            <th class="border p-2">Nombre</th>
            <th class="border p-2">Precio</th>
            <th class="border p-2">Stock</th>
            <th class="border p-2">Imagen</th>
            <th class="border p-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (product of productService.products(); track product._id) {
          <tr class="text-center">
            <td class="border p-2"><p class="font-bold">{{product.name}}</p></td>
            <td class="border p-2">${{product.price}}</td>
            <td class="border p-2">{{product.stock}}</td>
            <td class="
            border p-2"><img class="w-full max-w-24" src="{{product.image}}" alt=""></td>
            <td class="grid  gap-2 border p-5">
              <a  (click)="edit(product._id)" class="bg-sky-700 text-white px-2 py-1 rounded cursor-pointer hover:bg-sky-900">Editar</a>
              <button class="bg-red-800 text-white px-2 py-1 rounded hover:bg-red-900">Eliminar</button>
            </td>
          </tr>}
        </tbody>
      </table>
    </section>
  
    <!-- Sección de Pedidos -->
    <section class="mb-8 p-4 border rounded-lg shadow-lg">
      <h2 class="text-xl font-semibold mb-4">Pedidos</h2>
      <ul class="list-disc pl-5">
        <li>Pedido #1 - Cliente: Juan Pérez - Total: $50,000 - Estado: En proceso</li>
        <li>Pedido #2 - Cliente: María López - Total: $30,000 - Estado: Entregado</li>
      </ul>
    </section>
  
    <!-- Sección de Administración de Usuarios -->
    <section class="mb-8 p-4 border rounded-lg shadow-lg">
      <h2 class="text-xl font-semibold mb-4">Administrar Usuarios</h2>
      <table class="w-full border-collapse border">
        <thead>
          <tr class="bg-gray-200">
            <th class="border p-2">Nombre</th>
            <th class="border p-2">Email</th>
            <th class="border p-2">Rol</th>
            <th class="border p-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td class="border p-2">Admin Ejemplo</td>
            <td class="border p-2">admin.com</td>
            <td class="border p-2">Administrador</td>
            <td class="border p-2">
              <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  
    <!-- Sección de Productos Destacados -->
    
  </div>
  
