<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h2 class="text-2xl font-bold text-center text-gray-700">Restablecer Contraseña</h2>
      <p class="text-sm text-center text-gray-500 mb-4">Ingresa tu nueva contraseña.</p>
  
      <form [formGroup]="newPasswordForm()">
        <!-- Nueva Contraseña -->
        <div class="mb-4">
          <label for="newPassword" class="block text-sm font-medium text-gray-600">Nueva Contraseña</label>
          <input type="password" formControlName="newPassword"  class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="********">
        </div>
  
        <!-- Confirmar Contraseña -->
        <div class="mb-4">
          <label for="confirmPassword" class="block text-sm font-medium text-gray-600">Confirmar Contraseña</label>
          <input type="password" formControlName="confirmPassword"  class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="********">
          <p class="text-red-500 text-xs">{{passwordError()}}</p>
        </div>
  
        <!-- Botón de Restablecer -->
        <button type="button" (click)="newPassword()" class="w-full bg-blue-600 text-white p-2 rounded-lg hover:bg-blue-500 transition">Restablecer Contraseña</button>
        <h2 class="text-green-600 text-center ">{{authService.passwordResponse()}}</h2>
      </form>
      
    </div>
  </div>
  
