<main class="mt-16 p-4">
  <div  class="flex justify-center gap-3 p-4 bg-gray-200 rounded-lg shadow-md">
    <button (click)="filterProducts('café')" class="px-6 py-2 bg-gray-700  text-white rounded-md shadow hover:bg-gray-800 transition ">
      Café
    </button>
  
    <button (click)="filterProducts('cereales')" class="px-6 py-2 bg-gray-700 text-white rounded-md shadow hover:bg-gray-800 transition">
      Cereales
    </button>
  
    <button (click)="filterProducts('lacteos')" class="px-6 py-2 bg-gray-700 text-white rounded-md shadow hover:bg-gray-800 transition">
      Lácteos
    </button>
  
    <button (click)="filterProducts('endulzantes')" class="px-6 py-2 bg-gray-700 text-white rounded-md shadow hover:bg-gray-800 transition">
      Endulzantes
    </button>
    <button (click)="filterProducts(null)" class="px-6 py-2 bg-gray-700 text-white rounded-md shadow hover:bg-gray-800 transition">
      Todos
    </button>
  </div>

  
  <div id="product-list" class="grid grid-cols-1 md:grid-cols-3 mt-5 gap-6 p-3">
    @for(product of filteredProducts(); track product._id) {
      <div class="product-card bg-white p-6 rounded-2xl shadow-lg transition-transform transform hover:scale-105 border border-gray-200">
        <img class="product-image w-full h-48 object-cover mb-4 rounded-lg" [src]='product.image' alt="Product Image">
        
        <h3 class="product-name text-2xl font-semibold text-gray-800 mb-2">{{product.name}}</h3>
        <p class="product-code text-gray-600 mb-2">{{product.description}}</p>
        <p class="product-price text-green-600 font-bold text-lg mb-3">${{product.price}}</p>
        
        <div class="flex items-center justify-between bg-gray-100 rounded-lg p-2 mb-3">
          <button class="px-3 py-1 text-lg font-bold text-gray-700 hover:text-red-500" (click)="this.cartService.decrementQuantity(product._id)">−</button>
          <p class="text-lg font-semibold text-gray-800">{{ this.cartService.getQuantity(product._id) }}</p>
          <button class="px-3 py-1 text-lg font-bold text-gray-700 hover:text-green-500" (click)="this.cartService.incrementQuantity(product._id)">+</button>
        </div>

        <button class="add-cart w-full bg-green-500 text-white rounded-lg py-2 font-semibold hover:bg-green-600 transition-all"
          (click)="agregarProducto(product)">Agregar al carrito</button>
      </div>
    }
  </div>
  
  <p class="text-center mt-4 text-gray-800 font-semibold">Productos en carrito: {{ cartService.productsInCart().length }}</p>
</main>
  