<main class="mt-16 p-1 h-1/2 ">

    <div id="product-list" class="grid grid-cols-1 md:grid-cols-3 gap-4 p-3">
     @for(product of productos; track product.id){
        <div class="product-card bg-white p-6 rounded-lg shadow-lg" >
          
            <img class="product-image w-full h-48 object-cover mb-4 rounded" [src]='product.images' alt="Product Image">
            
            <h3 class="product-name text-xl font-semibold mb-2">{{product.title}}</h3>
            <p class="product-code text-gray-700 mb-1">{{product.description}}</p>
            <p class="product-price text-gray-900 font-bold">{{product.price}}</p>
            <p>cantidad</p>
            <div class="grid grid-cols-3 border-black border-2 divide-x">
                <button (click)="disminuirCantidad()" >-</button>
                <p class="text-center">{{ cantidad}}</p>
                <button (click)="agregarCantidad()">+</button>

            </div>
            <button class="add-cart bg-yellow-500 rounded-lg border-solid border-2 p-2 text-white hover:bg-yellow-400" (click)="agregarProducto(product)"
             >Agregar</button>
            
        </div>
       }
    </div>
    <p>{{cartService.productsInCart.length}}</p>
    
  </main>
  