<main class="mt-20 p-4 min-h-screen">
    <h1 class="text-center font-bold text-2xl font-mono mb-6">🛒 Tu carrito de compras</h1>
  
    <!-- Lista de productos en el carrito -->
    <div id="product-list" class="grid grid-cols-1 md:grid-cols-3 gap-6">
      @for (product of cartService.productsInCart(); track product._id) {
        <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col justify-between">
          
          <!-- Imagen del producto -->
          <img class="w-full h-48 object-cover mb-4 rounded" [src]='product.image' alt="{{product.name}}">
  
          <!-- Información del producto -->
          <div>
            <h3 class="text-xl font-semibold">{{product.name}}</h3>
            <p class="text-gray-700">{{product.description}}</p>
            <p class="text-gray-700">cantidad: {{product.quantity}}</p>
            <p class="text-green-600 font-bold text-lg mt-2">Precio unidad: ${{product.price}}</p>
          </div>


        <!-- Controles de cantidad -->
        <div class="flex items-center justify-between mt-4">
            <button 
              (click)="cartService.decrementQuantity(product._id)"
              class="bg-gray-300 text-gray-700 px-3 py-1 rounded-lg hover:bg-gray-400 transition">
              ➖
            </button>
            <span class="text-lg font-semibold">{{ this.cartService.getQuantity(product._id)}}</span>
            <button 
              (click)="cartService.incrementQuantity(product._id)"
              class="bg-gray-300 text-gray-700 px-3 py-1 rounded-lg hover:bg-gray-400 transition">
              ➕
            </button>
          </div>
  
          <!-- Botón para eliminar producto 
          <button 
            (click)="eliminarProducto(product)" 
            class="mt-4 bg-red-500 text-white w-full p-2 rounded-lg hover:bg-red-400 transition">
            ❌ Remover
          </button>-->
        </div>
      }
    </div>
  
    <!-- Sección de resumen del carrito -->
    @if(cartService.productsInCart().length > 0) {
      <div class="mt-8 p-6 bg-gray-100 rounded-lg shadow-md">
        <h2 class="text-center font-bold text-xl">Total: ${{cartService.getTotalPrice()}}</h2>
        <!--<p class="text-center font-semibold">Total de productos: {{cartService.productsInCart().length}}</p>-->
        <div class="flex justify-center">
          <a [routerLink]="['/productos']" class="text-white rounded-lg p-3 hover:bg-lime-900 bg-lime-700">Seguir comprando</a>
         </div>
        <!-- Botón para proceder al pago por WhatsApp -->
        <div class="flex justify-center mt-4">
          <a 
            href="https://wa.me/{{whatsAppLink}}?text=Hola, deseo adquirir los siguientes productos: {{mensajePago()}} Total: ${{total()}}"  
            target="_blank" 
            class="bg-green-500 text-white p-3 rounded-lg shadow-lg hover:bg-green-400 transition flex items-center">
            💬 Proceder al pago por WhatsApp
          </a>
        </div>
      </div>
    }@else {
      <!-- Mensaje cuando no hay productos en el carrito -->
      <p class="text-center font-mono text-3xl mt-10 text-gray-500">🛍️ Tu carrito está vacío</p>
       <div class="flex justify-center">
        <a [routerLink]="['/productos']" class="text-white rounded-lg p-3 hover:bg-lime-900 bg-lime-700">Seguir comprando</a>
       </div>
      
    }
  </main>
  
