<footer class="bg-black w-screen h-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 text-white">
      <div class="text-center p-2">
        <h2 class="text-white">{{ infoComercio.nombre }}</h2>
        <ul class="flex justify-center gap-5 ">
        <li class=""><a href="#" class=""><i class="fa fa-instagram" style="font-size:36px"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" style="font-size:36px"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" style="font-size:36px"></i></a></li>
      </ul>
      </div>
      <div class="text-center p-2">
        <ul>
        <li>PQRS</li>
        <li>Dirección: Guarne </li>
        <li>raices</li>
        </ul>
      </div>
    </div>
    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
    <a href="" class="flex justify-center p-4 text-white">{{ infoComercio.correo}}</a>
    

   </footer>
